
body{
  background-color:#fff;
  color:#333;
  font-family: Verdana;
  line-height:1.6em;
  margin:0px;
}
  
.blog-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: minmax(10px, auto);
  grid-template-areas: 
  "hd"
  "blogheader"
  "blogimage"
  "blog"
  "author"
  "ft";
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.blogimage {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  grid-area: blogimage;
  align-content: center;
}

.blog {
  text-align: justify;
  grid-area: blog;
  text-align: left;
}

.blog-button {
  background: linear-gradient(90deg, rgba(126,10,93,1) 25%, rgba(203,21,65,1) 100%);
  border-radius: 15px;
  color: #fff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: 10;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: solid white;
}

#blog-button a{
  color:#fff;
  text-decoration: none;
}

@media (min-width: 901px) and (max-width:1400px){
  .blog-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(80px, auto);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    ". . blogheader blogheader blogheader blogheader . ."
    ". . blogimage blogimage blogimage blogimage . ."
    ". . blog blog blog blog . ."
    "ft ft ft ft ft ft ft ft";
    margin-left: 15%;
    margin-right: 15%;
  }

  body{
    background-color:#fff;
    color:#333;
    font-family: Verdana;
    line-height:1.6em;
    margin:0px;
  }
}

@media(min-width:1401px) {
  .blog-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: minmax(80px, auto);
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    ". . blogheader blogheader blogheader blogheader . ."
    ". . blogimage blogimage blogimage blogimage . ."
    ". . blog blog blog blog . ."
    "ft ft ft ft ft ft ft ft";
    margin-left: 25%;
    margin-right: 25%;
  }

  body{
    background-color:#fff;
    color:#333;
    font-family: Verdana;
    line-height:1.6em;
    margin:0px;
  }
}