
.header{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: minmax(80px, auto);
  background-image: linear-gradient(260deg, rgba(0,88,139) 0%, #062952 100%);
  grid-area: hd;
}

  #navbar{
    margin-right: 5px;
    color:#fff;
    margin-top: 4px;
  }
    
  #navbar ul li{
    padding: 0;
    list-style: none;
    display: inline;
  }
        
  #navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding-right: 8px;
    line-height: 2.5em;
  } 

.sidebar{
  grid-area: sd;
  padding-left: 20px;
  background-image: linear-gradient(180deg, rgba(0,88,139) 0%, #062952 100%);
  color: #fff;
  line-height: 3em;
}

  #sidebar{
    color:#fff;
    text-align: left;
  }

  #sidebar ul li{
    list-style: none;
  }

  #sidebar a{
    color:#fff;
    text-decoration: none;
  } 

.footer{
  grid-area: ft; 
  background: #333;
  color:#fff;
  text-align: center;
  padding: 20px;
}
 

  @media (min-width: 901px) and (max-width:1400px) {
    #navbar{
      margin-right: 10px;
      color:#fff;
      text-align: right;
    }
            
    #navbar ul li{
      padding: 0;
      list-style: none;
      display: inline;
    }
                
    #navbar a{
      color:#fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal;
      padding-right: 15px;
      line-height: 2.5em;
    } 
  }

  @media (min-width:1401px){ 
    #navbar{
      margin-right: 10px;
      color:#fff;
      text-align: right;
    }
            
    #navbar ul li{
      padding: 0;
      list-style: none;
      display: inline;
    }
                
    #navbar a{
      color:#fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal;
      padding-right: 15px;
      line-height: 2.5em;
    }    
  }