  @import "../css/form.css";
  @import "../css/typography.css";
  @import "../css/blogpost.css";
  @import "../css/navigation.css";
  @import "../css/socialicons.css";

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: minmax(80px, auto);
  grid-template-areas: 
  "hd"
  "banner"
  "intro"
  "sd"
  "main"
  "ft";
}
  
  .nestedGrid{
    display: flex;
    flex-wrap: wrap;
  }

  .nestedGrid > *{
    margin: 2px;
  }
  
  .box{
    margin: 2px;
  }

  .intro{
    grid-area: intro;
    width: 90%;
    margin-left: 5%;
  }

  .banner{
    grid-area: banner;
    position: relative;
    text-align: center;
    color: white;
  }

  .banner_image {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: top;
  }

  .header_image {
    max-height: 60px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 10px;
  }

  .boximage{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
  }

  .content{
    grid-area: main;
    width: 90%;
    margin-left: 5%;
  }
  
  button{
    background: linear-gradient(90deg, rgba(126,10,93,1) 25%, rgba(203,21,65,1) 100%);
    border-radius: 15px;
    color: #fff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: 10;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: solid white;
  }  

  .buttonsection{
    text-align: center;
  }  

  @media (min-width: 901px) and (max-width:1400px) {
    .container{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: minmax(80px, auto);
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "banner banner banner banner banner banner banner banner"
      ". intro intro intro intro intro intro ."
      ". sd sd main main main main ."
      "ft ft ft ft ft ft ft ft";
    }
    
    .nestedGrid{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
      margin:5px;
    }

    .horizontal {
      grid-column: span 2;
    }

    .buttonsection{
      text-align: center;
    }
        
    #subscribe{
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      padding:10px;
    }

    .intro{
      grid-area: intro;
      margin-left: 5%;
    }

    .content{
      grid-area: main;
      margin-left: 5%;
    }
  }

  @media(min-width:1401px) {
    .container{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: minmax(80px, auto);
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "banner banner banner banner banner banner banner banner"
      ". intro intro intro intro intro intro ."
      ". sd main main main main main ."
      "ft ft ft ft ft ft ft ft";
    }
  
    .nestedGrid{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
      margin:5px;
    }
  
    .horizontal{
      grid-column: span 2;
    }

    .buttonsection{
      text-align: center;
    }
  
    #subscribe{
      display:flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      padding:10px;
    }
  
    .intro{
      grid-area: intro;
      margin-left: 5%;
    }
  
    .content{
      grid-area: main;
      margin-left: 5%;
    }
  
  }
  
